/* ==== base styles ==== */
:root {
  --eerie-black: hsl(266, 11%, 12%);
  --raisin-black: hsl(263, 11%, 14%);
  --charleston-green: hsl(273, 11%, 16%);
  --heliotrope-gray: hsl(272, 9%, 63%);
  --bright-gray: hsl(0, 0%, 92%);
  --medium-slate-blue: hsl(249, 86%, 67%);

  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;

  color: var(--heliotrope-gray);
}

input,
button {
  appearance: none;
  font: inherit;
  border: none;
  border-radius: 1.6rem;
  padding: 0.5rem 1.2rem;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

h2, h3 {
  color: var(--bright-gray);
}

/* ==== general styles ==== */
.avatar {
  border-radius: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}

/* ==== header ==== */
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--raisin-black);
  padding: 2rem 3.2rem;
  row-gap: 3.2rem;
}

.search-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}

.search-bar i {
  font-size: 2rem;
  cursor: pointer;
}

.search-bar input {
  background-color: var(--charleston-green);
  color: var(--heliotrope-gray);
  width: 48rem;
}

.user-info {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  justify-self: end;
  cursor: pointer;
}

.user-info i {
  font-size: 2rem;
  cursor: pointer;
}

.greetings {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}

.greetings div {
  display: grid;
}

.greetings div span:first-child {
  color: var(--bright-gray);
  font-weight: 600;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: end;
}

.button {
  background-color: var(--medium-slate-blue);
  color: var(--bright-gray);
  cursor: pointer;
}

/* ==== sidebar ==== */
.sidebar {
  background-color: var(--eerie-black);
  grid-row: 1 / -1;

  padding: 2rem;
}

.sidebar__header {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 3.2rem;
  color: var(--bright-gray);
}

.sidebar__header i {
  font-size: 3.2rem;
}

.sidebar__header span {
  font-weight: 600;
}

.navigation {
  display: grid;
  gap: 0.8rem;
}

.navigation__item {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  transition: color 0.3s ease;
}

.navigation__item:hover {
  color: var(--bright-gray);
  transition: color 0.3s ease;
}

.navigation__item:nth-child(6) {
  margin-bottom: 2.4rem;
}

.navigation__item i {
  font-size: 2rem;
}

.navigation__item a {
  color: currentColor;
}

/* ==== main-content ==== */
.main-content {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.6rem;
  background-color: var(--charleston-green);
  padding: 2rem 3.2rem;
  align-items: start;
  justify-content: start;
}

.main-content h2 {
  margin-bottom: 1.6rem;
}

.projects {
  grid-row: 1 / -1;
}

.projects__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.6rem;
}

.project-card {
  display: grid;
  gap: 1.6rem;
  background-color: var(--raisin-black);
  padding: 2rem;
  border-radius: 1rem;

  border-left: 0.8rem solid var(--medium-slate-blue);
}

.project-card__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.project-card__description {
  font-size: 1.5rem;
}

.project-card__footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.action-bar {
  display: flex;
  gap: 1.6rem;
  grid-column: 2 / 3;
  justify-self: center;
}

.action-bar__item {
  text-decoration: none;
  color: currentcolor;
}

.action-bar__item i {
  font-size: 2rem;
}

.announcement-card {
  display: grid;
  gap: 1.6rem;
  background-color: var(--raisin-black);
  padding: 2rem;
  border-radius: 1rem;
}

.announcement-item:not(:last-child) {
  border-bottom: 0.1rem solid var(--charleston-green);
  padding-bottom: 2rem;
}

.announcement-item__title {
  display: block;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: var(--bright-gray);
}

.announcement-item__text {
  font-size: 1.5rem;
}

.trending-card {
  display: grid;
  gap: 1.6rem;
  background-color: var(--raisin-black);
  padding: 2rem;
  border-radius: 1rem;
}

.trending-card__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.trending-card__info {
  display: grid;
  gap: 0.4rem;
}

.trending-card__info-user {
  font-weight: 600;
  color: var(--bright-gray);
}

.trending-card__info-project {
  font-size: 1.5rem;
}
