/* ==== base styles ==== */
:root {
  --box-shadow: hsla(0, 0%, 0%, 0.04) 0 0.3rem 0.5rem;

  --eerie-black: hsl(266, 11%, 12%);
  --raisin-black: hsl(263, 11%, 14%);
  --charleston-green: hsl(273, 11%, 16%);
  --heliotrope-gray: hsl(272, 9%, 63%);
  --bright-gray: hsl(0, 0%, 92%);

  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;

  color: var(--heliotrope-gray);
}

input,
button {
  appearance: none;
  font: inherit;
  border: none;
  border-radius: 1.6rem;
  padding: 0.5rem 1.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ==== general styles ==== */
.avatar {
  border-radius: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}

.header {
  background-color: var(--raisin-black);
}

.sidebar {
  background-color: var(--eerie-black);
  grid-row: 1 / -1;
}

.main-content {
  background-color: var(--charleston-green);
}
